<footer>
    <div class="container">
        <div class="sec QuienesSomos">
            <h2>Quienes Somos</h2>
            <p>En Cururu, somos un equipo apasionado por la educación y el diseño, dedicados a crear juegos
                Montessori de madera y muebles personalizados.
                Nuestra misión es fomentar el desarrollo infantil a través de materiales educativos de alta calidad
                y diseños únicos que inspiran el aprendizaje y la creatividad.
                En Cururu, cada pieza es creada con amor y dedicación, pensando en el bienestar y el crecimiento de
                los más pequeños.
                ¡Únete a nosotros y descubre un mundo de posibilidades para el aprendizaje y el juego!</p>
            <ul class="sci">
                <li><a hreft="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a hreft="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a hreft="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a hreft="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="sec atajos">
            <h2>Atajos</h2>
            <ul>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">terminos & condiciones </a></li>
                <li><a href="#">politica de privacidad</a></li>
                <li><a href="#">contacto</a></li>

            </ul>
        </div>
        <div class="sec atajos">
            <h2>Productos</h2>
            <ul>
                <li><a href="#">Muebles personalizados</a></li>
                <li><a href="#">Muebles</a></li>
                <li><a href="#">Juegos Montessori</a></li>
                <li><a href="#">Por mayor</a></li>
            </ul>
        </div>
        <div class="sec contacto">
            <h2>Contacto</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Mendiolaza, Cordoba-Argentina</span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p><a href="tel:+543515555555">+54 3515555555</a>
                    </p>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <p><a href="/contacto">cururu@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightsec">
    <p>&copy;2024 Agus - Patri. Todos los derechos reservados</p>
</div>