<header class="containerNavbar">
    <div class="brand">
        <a href="/">
            <img src="/images/logo.png" alt="Cururu" id="logoNavbar">
        </a>
    </div>

    <div class="searchBar">
        <input type="text" placeholder="Buscar productos" id="searchInput">
        <div class="listaProductosContainer">
            <div class="listaProductos" id="listaProductos"></div>
        </div>
    </div>

    <nav class="navBar">
        <div class="menuIcon" id="menuIcon">
            ☰
        </div>
        <ul class="navLinks hide" id="navLinks">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/Catalogo">Catálogo</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/Contacto">Contacto</a></li>
            <li>
                <a href="/Carrito">
                    <div class="carritoNavbar">
                        🛒 <span id="carritoTotalNav">0</span>
                    </div>
                </a>
            </li>
            <li><a href="/productos/create">📄</a></li>
        </ul>
    </nav>
</header>
