<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Juegos de madera</title>
    <link rel="stylesheet" href="css/stylesPartials.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/stylesCarousel.css">
    <script src="https://kit.fontawesome.com/961856c0dd.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/header') %>

        <!-- Sección Quienes Somos -->
        <section id="quienesSomos">
            <div class="containerBio">
                <h2>Nuestro actuar está determinado<br>por nuestros valores</h2>
                <ul>
                    <li><strong>Calidad y Sostenibilidad:</strong> Cada pieza de Cururu es fabricada con materiales de alta calidad y procesos sostenibles. Valoramos el uso de recursos renovables y la producción responsable para cuidar del medio ambiente y ofrecer productos duraderos.</li>
                    <li><strong>Amor y Dedicación:</strong> Ponemos el corazón en cada uno de nuestros productos. Creemos en la importancia del cuidado y la dedicación en la creación de materiales que acompañen el crecimiento de los niños.</li>
                    <li><strong>Fomento de la Creatividad:</strong> Nos esforzamos por crear juguetes y muebles que estimulen la imaginación y la creatividad de los niños, permitiéndoles expresarse libremente y desarrollar sus habilidades únicas.</li>
                </ul>
                <div class="containerButtonQS">
                    <a href="/Nosotros"><button class="btn">Conoce más</button></a>
                </div>
            </div>
            <div class="contenedorCarousel">
                <button class="carouselButton left">&lt;</button>
                <div id="carousel">
                    <div class="carouselItem">
                        <img src="/images/carousel/carousel.jpg" alt="Domino Animales">
                        <h3 class="tituloItemCarousel">Domino Animales</h3>
                    </div>
                    <div class="carouselItem">
                        <img src="/images/carousel/encastres.jpg" alt="Encastres de Madera">
                        <h3 class="tituloItemCarousel">Encastres de Madera</h3>
                    </div>
                    <div class="carouselItem">
                        <img src="/images/carousel/rompecabezamaderaia.jpg" alt="Rompecabezas de Animales">
                        <h3 class="tituloItemCarousel">Rompecabezas de Animales</h3>
                    </div>
                </div>
                <button class="carouselButton right">&gt;</button>
            </div>
        </section>

        <!-- Sección Acción -->
        <section id="acciones">
            <div class="containerAccion">
                <a href="/Contacto" class="accion">
                    <img src="/images/atencion-al-cliente.png" alt="Atención Personalizada">
                    <h3>Atención Personalizada</h3>
                </a>
                <a href="/Catalogo" class="accion">
                    <img src="/images/el-pensamiento-de-diseno.png" alt="Catálogo">
                    <h3>Catálogo</h3>
                </a>
                <a href="/Productos" class="accion">
                    <img src="/images/productos.png" alt="Productos">
                    <h3>Productos</h3>
                </a>
            </div>
        </section>

        <!-- Sección Productos Destacados -->
        <section id="productosDestacados">
            <div class="contenedorGeneral">
                <h2>Productos Destacados ApiMocha</h2>
                <div class="productos" id="productos">
                    <!-- Productos se cargarán dinámicamente con JS -->
                </div>
            </div>
        </section>

        <script src="/js/carousel.js"></script>
        <script src="/js/apiData.js"></script>





        <%- include('partials/footer') %>

            <script src="/js/scriptNavbar.js"></script>
</body>

</html>