<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Tienda de Juegos de Madera</title>
    <link rel="stylesheet" href="/css/stylesPartials.css">
    <link rel="stylesheet" href="/css/stylesNosotros.css">
    <script src="https://kit.fontawesome.com/961856c0dd.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/header') %>

    <section class="containerHeroHis">
        <div class="contentHero">
            <h2>Nuestra Historia</h2>
            <p>En Cururú se distingue por crear piezas únicas hechas con amor, dedicación y solidaridad. Cada proyecto refleja un compromiso profundo con los detalles y la calidad, buscando ofrecer más que solo productos, sino verdaderas obras personalizadas. Con cada creación, Cururú busca embellecer hogares y espacios, transmitiendo el valor de lo hecho a mano con pasión y cuidado, siempre pensando en el bienestar de sus clientes y la comunidad</p>
        </div>
    </section>

    <section class="generalArq">
        <div class="contenedores">
            <h2>Valores</h2>
            <p><strong>Calidad y Sostenibilidad:</strong> Utilizamos materiales de alta calidad y procesos sostenibles
                para cuidar el medio ambiente.</p>
            <p><strong>Amor y Dedicación:</strong> Cada producto está hecho con cuidado y dedicación para acompañar el
                crecimiento de los niños.</p>
            <p><strong>Fomento de la Creatividad:</strong> Diseñamos productos que estimulan la imaginación y
                creatividad de los niños.</p>
        </div>
        <div class="contenedoresIMG">
            <img src="/images/nosotros/valores.jpg" alt="Valores de la empresa">
        </div>
    </section>

    <section class="containerButtom">
        <h2>Únete a nuestra comunidad</h2>
        <a href="/contacto"><button class="btn">Contáctanos</button></a>
    </section>

    <%- include('partials/footer') %>
    <script src="/js/scriptNavbar.js"></script>
</body>

</html>
